@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: #010111;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.list-img {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__container {
  /* display: flex;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  display: block;
  border-radius: 25px;
  padding: 12px 20px;
  max-width: 164px;
  text-align: center;
  border: 1px solid #ED8DBB;
  color: #656577;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.09em;
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 160px;
  }
}

.button:hover,
.button:focus {
  color: #ED8DBB;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}

/*---------------------------header*/
.header {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

/*
.header__container {
  position: relative;

  display: flex;
  align-items: center;
justify-content: space-between;

}*/
.header__tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 100%;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__tablet {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 93px;
  }
}

.header__tablet .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}
@media screen and (min-width: 1200px) {
  .header__tablet .site-nav {
    gap: 53px;
  }
}

.header__tablet .site-nav__link--current,
.header__tablet .site-nav__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #010111;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__tablet .site-nav__link--current:hover, .header__tablet .site-nav__link--current:focus,
.header__tablet .site-nav__link:hover,
.header__tablet .site-nav__link:focus {
  color: #2196f3;
}

.header__tablet .site-nav__item {
  position: relative;
}

.header__tablet .site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -33px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__tablet .site-nav__link--current {
  color: #2196f3;
}

.header__tablet .auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .header__tablet .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.header__tablet .auth-nav__link {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__tablet .auth-nav__link:hover, .header__tablet .auth-nav__link:focus {
  fill: currentColor;
  color: #2196f3;
}

.header__tablet .auth-nav__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .header__tablet .auth-nav__icon {
    gap: 10px;
  }
}

.header__tablet .auth-nav__item {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .header__tablet .auth-nav__item {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

/*-------------header__mobile*/
.header {
  background-color: #FBD3E6;
  width: 100vw;
  border-bottom: 1px solid #ed8dbb;
}

.mobile {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address__item,
.address__link,
.main__link {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: rgba(23, 26, 36, 0.8);
}

.address__link {
  content: "";
  fill: #ED8DBB;
}

.address__item {
  margin-top: 8px;
  padding: 8px;
  max-width: 150px;
  border: 1px solid gray;
  border-radius: 7px;
}

.main__item:first-child {
  margin-bottom: 8px;
}

.header__button-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button-menu {
    display: none;
  }
}

.main__list .header__button-menu {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu.is-hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 21px 25px 48px 40px;
    background: #ebf7fa;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu > .container-mobile {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.menu .work-time .menu--bottom {
  display: block;
  margin-left: auto;
}
.menu .work-time {
  top: 0;
}
.menu .menu--bottom {
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu .header__button-menu {
  position: absolute;
  top: 22px;
  right: 26px;
}

.work-time {
  content: "";
  display: block;
  padding: 12px;
  max-width: 230px;
  max-height: 168px;
  -webkit-box-shadow: 0 15px 10px #29292b;
          box-shadow: 0 15px 10px #29292b;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.work-time::after {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  right: 10px;
  left: auto;
}

.work-time__title {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: #010111;
  margin-bottom: 8px;
}

.work-time__text {
  margin-top: 8px;
  color: #656577;
  font-size: 12px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.work-time__text:last-child {
  text-align: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__link {
  font-size: 28px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(1, 1, 11, 0.7);
}

/*



.site-nav {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.site-nav__link,
.site-nav__link--current {
    @include font(40px, 1.18, 500, 0.02em);
    color: $primery-color;
}

.site-nav__link--current {
    color: $accend-color;
}

.auth-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
}

.auth-nav__tel {
    @include font(34px, 1.18, 500, 0.02em);

    color: $accend-color;
}

.auth-nav__mail {
    @include font(24px, 1.17, 500, 0.02em);
    color: $text-color;
}

.mobile__sos {
    display: flex;
    flex-wrap: wrap;

}

.mobile__sos--blue {

    display: flex;
    padding: 10px;
}

.mobile__sos--coloring {
    @include font(18px, 1.22, 500, 0.02em);
    color: $accend-color;
}

.mobile__sos .mobile__sos--blue::after+.mobile__sos--blue {
    content: '';
    display: block;
    width: 1px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);

}*/
/* --------смужка через бордер
  .mobile__sos .mobile__sos--blue:not(:last-child) {

    border-right: 1px solid rgba(33, 33, 33, 0.2);

  }*//*# sourceMappingURL=main.css.map */